<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Tables</title>
</head>
<body>
 <h1>All Tables</h1>

    {% if table_name %}
        <h2>{{ table_name }}</h2>
        <table>
            <thead>
                <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                    {% for value in row %}
                        <td>{{ value }}<hr/></td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <ul>
            {% for table in tables %}
                <li><a href="/table/{{ table[0] }}">{{ table[0] }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>